.circle{
    content: "";
    width: 370px;
    height: 370px;
    background-color: rgb(72, 13, 126);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.circle::before{
    content: "R";
    position: absolute;
    color: rgb(95, 9, 142);
    font-size: 30px;
    left: 0;
    bottom: 0;
    transform: rotate(-10deg);
}
.circle::after{
    content: "K";
    position: absolute;
    color: black;
    font-size: 30px;
    top: 0;
    right: 0;
    transform: rotate(-10deg);
}
.bg-testimonial{
    background: radial-gradient(circle, rgba(58,76,168,1) 19%, rgba(252,70,107,1) 84%);
}
.screen-1{
    max-width: 70%;
}
.img-1{
    border-radius: 10px;
}
.circle-2{
    content: "";
    width: 300px;
    height: 300px;
    background-color: rgb(72, 13, 126);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.screen-2{
    max-width: 80%;
}
.img-2{
    border-radius: 10px;
    margin-left: 50px;
}
.circle-2::before{
    content: "❤️";
    position: absolute;
    font-size: 30px;
    bottom: 0;
    left: 0;
}
.circle-2::after{
    content: "🕊️";
    position: absolute;
    font-size: 30px;
    top: 0;
    right: 0;
    margin-right: -70px;
}
.rush-img{
    border-radius: 50%;
}
.building-container{
    position: relative;
    width: 100%;
    height: 500px;
}
.building-bg{
    position: absolute;
    background-image: url("/img/coding-bg.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.700);
}
.content{
    position: absolute;
    text-align: center;
    color: white;
    z-index: 1;
}
.get-app{
    background: radial-gradient(circle, rgba(58,76,168,1) 19%, rgba(252,70,107,1) 84%);
}
.modal-header{
    background: blue;
}
.icon{
    font-size: 50px;
}